<li class="chat-list-item" data-chat-uuid="{{uuid}}">
    <div class="chat-list-item__avatar"></div>
    <div class="chat-list-item__name">{{name}}</div>
    <div class="chat-list-item__message">{{#if lastMessageIsYours}}<strong class="chat-list-item__mine-mark">Вы:</strong> {{/if}}{{lastMessage}}</div>
    <div class="chat-list-item__time">{{time}}</div>

    {{#if unreadCount}}
        <div class="chat-list-item__unread-counter">{{unreadCount}}</div>
    {{/if}}
</li>
