<div class="chat-dialog">
    <div class="chat-dialog__header">
        <div class="chat-dialog__avatar"></div>
        <div class="chat-dialog__name">{{chat.name}}</div>
        <button class="chat-dialog__menu-button">
            <img src="{{moreVertical}}"/>
        </button>
    </div>

    <div class="chat-dialog__messages">
        {{#each chat.dates}}
            <div class="chat-dialog__date-label">{{this.date}}</div>
            {{#each this.messages}}
                <div class="chat-dialog__message{{#if this.senderIsYou}} chat-dialog__message_yours{{/if}}">
                    <div class="chat-dialog__message-text">{{this.text}}</div>
                    <div class="chat-dialog__message-time">
                        {{#if this.delivered}}
                            <img src="{{../../messageDelivered}}"/>
                        {{/if}}
                        {{this.timeString}}
                    </div>
                </div>
            {{/each}}
        {{/each}}
    </div>

    <div class="chat-dialog__input-container">
        <button type="button" class="chat-dialog__attach-button">
            <img src="{{attach}}"/>
        </button>

        <input class="chat-dialog__input" placeholder="Сообщение">

        <button class="chat-dialog__send">
            <img src="{{messageArrow}}"/>
        </button>
    </div>
</div>
