<div class="form-control">
    <input type="{{type}}" name="{{name}}" id="{{name}}" class="{{classes}}">
    <label for="{{name}}">{{placeholder}}</label>

    {{#if error}}
        <div class="error">{{error}}</div>
    {{/if}}
</div>
